main > section {
  display: none;
}

main > section.active {
  display: block;
}

nav {
  width: 90%;
  /* height: 100px; */
  background-color: darksalmon;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  font-family: "Open Sans", sans-serif;
  margin: 4px;
  font-size: larger;
  color: darkseagreen;
  text-decoration: none;
}

body {
  background-image: linear-gradient(
    180deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

/* .results{
    display: flex;
    align-items: center;
    justify-content: center;

} */

.result {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 400px;
  width: 600px;
  color: #fff;
}

.result img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.detail img {
  object-fit: cover;
  height: 200px;
}

button {
  background-color: darksalmon;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 18px;
  margin: 10px;
  width: 300px;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

body main .info .detail-container {
  width: 450px;
}

body main .detail .detail-container .detail-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body main .detail .detail-container .detail-body .modal-content .image {
  width: 150px;
  height: 200px;
}

.detail-label {
  font-weight: 600;
  padding-right: 8px;
  /* line-height: 12px; */
  /* font-size: 12px; */
}
.group-li {
  list-style: none;
  font-size: 12px;
}

.value-txt {
  font-size: 12px;
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}

body{
	/* background: url('https://i.imgur.com/NMnbn2s.jpg') no-repeat center; */
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}